body {
  height: 420vh;
}

.grid-container {
  display: grid;
  grid-template-rows: 2fr 50fr 5fr;
  border: 2px solid white;
  width: 100%;
  margin: 0 auto;
}
.header {
  display: flex;
  background-color: black;
  padding: 10px;
}
.nav {
  display: flex;
  background-color: black;
  margin-left: auto;
}
.lista {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}
.nav li {
  margin-right: 80px;
}

.nav a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 25px;
}
.logo__image {
  display: flex;
  width: 30%;
  height: auto;
}
.header__logo {
  display: flex;
  align-items: center;
  width: 20%;
}
.nav {
  width: 80%;
}
.main {
  background-color: yellow;
  display: grid;
  grid-template-rows: 25% 20% 7% 25% 23%; /* Ajusta las proporciones según tus necesidades */
}

.main__image {
  width: 100%;
  height: 100%;
  margin: 0;
}

.Secciones {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  font-size: 30px;
  font-family: "Playfair Display";
}

.Menu {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 2fr 1.1fr;
}
.menu__izquierda {
  width: 100%;
  height: 100%;
}

.menu__derecha {
  width: 100%;
  height: 100%;
}

.Nosotros {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: #333;
}
.Texto {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  line-height: 1.5;
  align-items: center;
  font-size: 25px;
  color: orange;
}

.LionsDiv {
  display: flex;
  justify-content: center;
  margin-right: 25px;
}
.Lions {
  width: 30%;
  height: 70%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0;
  font-size: 16px;
}

.Formulario {
  display: none; /* Ocultar el formulario por defecto */
  background-color: #333;
}
form {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 350px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

input[type="radio"] {
  margin-right: 10px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #45a049;
}

/* En Style.css */
.row {
  display: flex;
}

.category-image {
  width: 50%; /* Establece un ancho máximo para las imágenes */
  height: auto; /* Permite que la altura se ajuste automáticamente */
  margin: 0 auto;
  justify-content: center;
}

.flex {
  display: flex;
}

.category-list {
  display: flex;
  width: 33%;
  align-items: center;
}

.category-item {
  display: flex;
  align-items: center;
  width: 33%;
  margin-top: 5%;
}
